

@import 'config';
@import 'utilities';

//general style

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: $light-color;
}
a{
  text-decoration: none;
  color: $main-color;
}

ul{
  list-style: none;
}


//navber
#main-nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem 0.5rem 5rem;
  background: $dark-color;
  color: $main-color;

  ul{
    display: flex;
    
  }

  li{
    padding: 1rem 1.5rem;
  }

  a{
    text-decoration: none;

    &:hover{
      color: $secondary-color;
    }
  } 
}


//body
#work {
  padding-top: 3rem;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  
 
}

article {
  
  img {
    height: 200px;
    padding-bottom: 0.5rem;
  }

  .text-item{
    padding-left: 1rem;

    a{
      color: $dark-color;
    }
  }
}


#page{
  padding-top: 2rem;
  padding-bottom: 2rem;

  .page-number{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   text-align: center;
   
   a{
    color: $dark-color;

    &:hover{
      color: $main-color;
    }
   }

  }
}



//login page
#main-contact{
  padding: 1rem;
  margin: 5rem;
  text-align: center;
  .welcome{
    background: $dark-color;
    color: $light-color;
    padding: 2rem;

    h2{
      padding-bottom: 2rem;
    }
  }

  form{
    background: #fff;
    padding: 2rem;
    text-align: left;

    .text-fields{
      padding-bottom: 1rem;

      h2{
        padding-bottom: 2rem;
        color: $main-color;
      }

      .email-input{
        border: none;
        border-bottom: 2px #C8C8C8 solid;
        margin-bottom: 1rem;
      }

      .password-input{
        border: none;
        border-bottom: 2px #C8C8C8 solid;
        margin-bottom: 1rem;
      }

      .text-input{
        padding-bottom: 0.5rem;
      }
    }

    .btn{
      padding: 0.75rem 2rem;
      background: #fff;
      color: $main-color;
      border: 1px $main-color solid;
      border-radius: 5px;
      margin-right: 1rem;
    }
  }

}

.contact-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // margin-left: 10rem;
  // margin-right: 10rem;
  margin: 0 15rem 0 15rem;
  // padding-bottom: 1rem;
  // padding-top: 1rem;
  
 
}





//footer
#main-footer{
  background: $dark-color;
  text-align: center;
  padding-top: 2rem;

  h1{
    color: $light-color;
  }

  .big-footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    
    ul{
      display: flex;
    }

    li{
      padding: 1rem 1rem;
    }
  }

  

  .end-footer{
    padding: 0.75rem;
    border-top: 1px #ddd dotted;
    color: $light-color;
  
  }
}




