
img {
  width: 100%;
}

.container {
  max-width: $website-width ;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.card {
   background: #fff;
   padding: 0 0 1.5rem 0;
   box-shadow: 0 5px 10px 0 rgba(0,0,0, 0.3);
}

.current{
  color: $secondary-color;
}


